<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/dist-vendor/bootstrap/css/bootstrap.css"/>
{#    <link rel="stylesheet" type="text/css" href="{{baseurl}}/node_modules/bootstrap-icons/font/bootstrap-icons.css"/>#}
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
{#    <link rel="stylesheet" type="text/css" href="{{baseurl}}/node_modules/datatables.net-dt/css/jquery.dataTables.min.css"/>#}

    {% block extraCSS %}{% endblock %}

{#    <link href='{{baseurl}}/images/apm-logo-square-32x32.png' rel='icon' sizes='32x32' type='image/png'>#}

    <title>{% block title %}{% endblock %}</title>

    <script type="text/javascript" src="/dist-vendor/jquery/jquery.min.js"></script>
{#    <script type="text/javascript" src="{{baseurl}}/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>#}
{#    <script type="text/javascript" src="{{baseurl}}/node_modules/moment/moment.js"></script>#}
{#    <script type="text/javascript" src="{{baseurl}}/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>#}
{#    <script type="text/javascript" src="{{baseurl}}/node_modules/datatables.net-dt/js/dataTables.dataTables.min.js"></script>#}
{#    <script type="application/javascript" src="{{baseurl}}/js/ApmUrlGenerator.js"></script>#}
{#    <script type="text/javascript" src="{{baseurl}}/js/SimpleProfiler.js"></script>#}
{#    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>#}


    {% block extraJS %}{% endblock %}
</head>
<body>
<div class="page-header">
    <div class="site-title"><a href="/" title="MusicBrainz Tools">MusicBrainz Tools</a></div>
</div>
<div id="page-content">
    {% block content %}{% endblock %}
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">{% block copyright %}{{ copyright|raw }}{% endblock %}</p>
    </div>
</footer>
{% block finalBodyJS %}{% endblock %}
</body>
</html>